@import "variables.scss";

* {
  box-sizing: border-box;
}

.App {
  display: grid;
  grid-template-rows: calc(100vh - #{$playlist-height}) $playlist-height;
  grid-template-columns: $nav-width calc(100vw - #{$nav-width});
  grid-template-areas:
    "nav main"
    "player player";
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: $dark;
  color: rgba(255, 255, 255, 0.8);
  letter-spacing: 0.03em;
}

.main {
  grid-area: main;
  height: calc(100vh - #{$playlist-height});
  max-height: calc(100vh - #{$playlist-height});
  overflow-y: auto;
  background: linear-gradient(rgb(50, 50, 50) -30%, $dark 40%);
  padding: 50px 30px 30px 30px;
  position: relative;
  .heading {
    position: sticky;
    top: 0;
    margin: 0 -30px;
    padding: 0 30px 20px 30px;
    transition: background 0.1s ease-in-out;
    z-index: 10;
    &.scrolled {
      background: $dark;
      h1 {
        font-size: 1.4em;
        animation: toTop 0.3s ease;
      }
    }
    h1 {
      color: white;
      // transition: all .1s ease-in-out;
    }
  }

  .tabs {
    display: flex;
    .tab {
      margin-right: 20px;
      position: relative;
      color: rgba(255, 255, 255, 0.7) !important;
      text-decoration: none;
      font-size: 0.8em;
      font-weight: 700;
      white-space: nowrap;
      &--active {
        color: white !important;
        &::before {
          content: "";
          position: absolute;
          width: 20px;
          height: 2px;
          left: 50%;
          bottom: -5px;
          transform: translateX(-50%);
          background: $primary;
        }
      }
    }
  }
}

.player {
  grid-area: player;
  background: $grey;
  height: 100%;
  width: 100%;
  flex-basis: 100%;
}

.empty {
  height: 100vh;
  margin-top: 50px;
}

::-webkit-scrollbar {
  width: 0.8em;
}

::-webkit-scrollbar-track {
  background: rgb(30, 30, 30);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(68, 68, 68);
}

@keyframes toTop {
  0% {
    transform: translateY(50px);
    visibility: hidden;
  }
  50% {
    visibility: visible;
  }
  100% {
    transform: translateY(0);
  }
}
